# editors
.vscode

# python
.venv
__pycache__/

# build
/build*
/samples/**/build*

# docs
/docs/_build*
/docs/venv

# Ignore backup zap files
*.zap~

# Generated at runtime by west zap-generate
/scripts/west/zap-templates/callback-templates.json

# Generated at build time or by west zap-generate
/samples/**/zap-generated/
!/samples/manufacturer_specific/**/zap-generated/
!/samples/manufacturer_specific/**/zap-generated/**
